<%- model_class = Cardinfo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:card_number) %></th>
      <th><%= model_class.human_attribute_name(:card_code) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:token) %></th>
      <th><%= model_class.human_attribute_name(:charge_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cardinfos.each do |cardinfo| %>
      <tr>
        <td><%= link_to cardinfo.id, cardinfo_path(cardinfo) %></td>
        <td><%= cardinfo.card_number %></td>
        <td><%= cardinfo.card_code %></td>
        <td><%= cardinfo.user_id %></td>
        <td><%= cardinfo.token %></td>
        <td><%= cardinfo.charge_id %></td>
        <td><%=l cardinfo.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_cardinfo_path(cardinfo), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      cardinfo_path(cardinfo),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_cardinfo_path,
            :class => 'btn btn-primary' %>
